

.div {
	display: block;
}

img {
	margin-left: 239px;
	margin-bottom: 30px;
}

input {
	width: 100% !important;
}

label {
	font-weight: bold;
	font-size: 14px;
}

h1 {
    color: white !important;
    font-size: 60px !important;
}

h4 {
	color: white !important;
	font-size: 18px !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	margin: 5px;
	padding: 5px;
}

#boardText {
    text-align: center;
}

#boardTable {
	
}

th {
	margin: 80px;
}

.header {
	background-color: #003a5d !important;
	text-align: center;	
}

.panel-body {
   border: black !important;
   border-color: black !important;
   margin: 0 !important;
   padding-bottom: 10px;
}

.panel-heading {
	background-color: #003a5d !important;
	width: 150% !important;
	height: 30px;
}

.border-class {
	border: medium #003a5d solid;
	border-top: none;
	padding: 20px;
	width: 150%;
}




