* {
	box-sizing: border-box;
}

.body {
	background-color: #bbbbbb !important;
}

.div {
	display: block;
}

input {
	width: 100% !important;
}

label {
	font-weight: bold;
	font-size: 14px;
}

h1 {
    color: white !important;
    font-size: 60px !important;
}

h4 {
	color: white !important;
	font-size: 18px !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	margin: 5px;
	padding: 5px;
}

.th {
	text-align: center !important;
}

.a {
	color: #000000 !important;
}

#background {
	width: 100%;
	height: 480px;
	margin: 0 0 30px 0;
}

#boardText {
    text-align: center;
}

.wrapper {
	background-color: #ffffff !important;
	padding: 0 0 0 0 !important;
	border-radius: 0 0 1% 1%;
}

.header {
	background-color: #003a5d !important;
	text-align: center;	
}

.panel-body {
   border: black !important;
   border-color: black !important;
   margin: 0 !important;
   padding-bottom: 10px;
}

.panel-heading {
	background-color: #003a5d !important;
	width: 100% !important;
	height: 30px;
}

.border-class {
	border: medium #003a5d solid;
	border-top: none;
	padding: 20px;
	width: 100%;
}




